body {
    background-color: rgb(12, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:960px;
    margin: auto;

}

header {
    padding: 20px;
    margin-bottom: 20px;
    color:#777;
    background:#fff;
    text-align: center;
    
}
nav {
    padding: 20px;
    margin-bottom: 20px;
    color:#777;
    background:#fff;
    text-align: center
   
    

}
section {
    float:left;
    color:#777;
    background:#fff;
    width: 495px;
    text-align:left;
  

}
#left {

}

#middle {
}
#right {
}
#full {
}
#division {
}
aside {float: left;
    width:450px;
    color:#777;
    background:#fff;
    

    

}
footer {
    padding: 20px;
    margin-bottom: 20px;
    color:#777;
    background:#ebebeb;
    clear: both;
   
  
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }